.container{
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.container2{
  // width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background: red;
}


.d-flex{
  display: flex;
}

.jyContent-spaceBn{
  display:flex;
  justify-content: space-between;
}


.jyContent-center{
  display: flex;
  justify-content: center;
}

.jyContent-spacrAd{
  display: flex;
  justify-content: space-around;
}

.fx-wrap{
  display: flex;
  flex-wrap: wrap;
}

.alItem-center{
  align-items: center;
}


