.allCourses{
  width: 85%;

  &__titleBox{
    background: #F8F8F8;
    border-radius: 10px;
    padding: 30px;
  }

  &__mainBtn{
    button{
     background: #FFFFFF;
     box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
     border-radius: 50px;
     margin-top: 30px;
     column-gap: 10px;
     cursor: pointer;
    }
  }

  &__cards{
    margin-top: 30px;
    flex-wrap: wrap;
    column-gap: 10px;
  }
}

.allCourses__cards .card{
  width: calc(100% / 4 -12px);
}

.allCourses__titleBox .titleBox{
  &__left{
    p{
      margin-top: 10px;
      span{
        color: $textColor2;
      }
    }
  }

  &__right{
    cursor: pointer;
  }
}