@import '_fonts.scss';
@import '_global.scss';
@import '_stdClass.scss';
@import './allCoursess.scss';

html{
  scroll-behavior: smooth;
}

.header{
  padding: 10px 0;

  &__inner{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right{
    width: 100%;
    column-gap: 30px;
  }

}

.header__right .rightBox{

  &__main{
    column-gap: 30px;
  }

  &__lang{
    column-gap: 5px;

    a{
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__contact{
    text-align: end;
    p{
      font-size: 18px;
      line-height: 22px;
    }

    a{
      color: $textColor2;
      border-bottom: solid 1px $color1;
    }
  }
}

.burger{
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar{
  margin-left: 40px;
  &__items{
    column-gap: 40px;
  }

  &__item{
    a{
      color: $textColor1;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.banner{
  width: 100%;
  height: 615px;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__slide{
    width: 100%;
  }

  &__img{
    width: 100%;
    height: 615px;
    background-color: #0057FF;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: red;
    }
  }

  &__main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    background: linear-gradient(89.65deg, rgba(0, 0, 0, 0.48) 30.98%, rgba(0, 0, 0, 0) 107.92%),
  }

  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: $background6;
    opacity: 1;
  }

  .swiper-pagination-bullet .swiper-pagination-bullet-active{
    padding: 5px;
    background: red;
  }

}

.banner__slide .body{
  display: block;
  width: 85%;
  height: 615px;

  &__date{
    margin-top: 120px;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
  }

  &__title{
    width: 624px;
    font-size: 55px;
    line-height: 67px;
    padding: 8px 0 20px 0;
    color: #FFFFFF;
  }

  &__subtitle{
    width: 483px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }

  &__btn{
    width: 180px;
    height: 55px;
    margin-top: 20px;
    column-gap: 15px;

    div{
      column-gap: 15px;
    }
  }
}

.home{

  .container{
    position: relative;
    background: url('../img/Frame\ 265.jpg');

  }
  &__inner{
    width: 85%;
  }

  .main{
    width: 100%;



    &__title{
      margin-top: 95px;
      font-size: 55px;
      color: $textColor1;
    }

    &__subtitle{
      width: 80%;
      margin-top: 20px;
      font-size: 18px;
      color: $textColor1;
    }

    &__btn{
      width: 258px;
      color: white;
      align-items: center;
      column-gap: 10px;
      margin-top: 35px;
    }


    &__right{
      width: 30%;
    }
  }

  .footer{
    width: 85%;
    padding: 30px 0;

    &__left{
      column-gap: 30px; 
      font-size: 16px;
    }

    &__coursInfo{
      p{
        color: $textColor3;
      }
      span{
        margin-top: 6px;
      }
    }

    &__cours{
      column-gap: 30px;
      p{
        color: $textColor2;
      }
    }

    .right{
      font-size: 16px;
  
      &__links{
        margin-top: 6px;
        column-gap: 40px;
      }
  
      &__link{
        column-gap: 10px;
      }
    }
  }
  


  .footerInner{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.53);
  }

}

.author{

  &__inner{
    width: 85%;
    padding-top: 80px;
  }

  &__video{
    position: relative;
    width: 100%;
    height: 596px;

    iframe{
      position: static;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__videoBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 104px;
    height: 104px;
    z-index: 100;
    transform: translate(-50%, -50%);

    img{
      width: 100%;
      height: 100%;
      border-radius: 60px;
      object-fit: cover;
    }
  }

  .body{
    padding: 25px 0 70px 0;

    &__title{
      width: 30%;
      font-size: 40px;
      line-height: 56px;
    }

    &__text{
      font-size: 18px;
      line-height: 28px;
      width: 60%;
    }
  }
}

.author__swiper{
  position: relative;
}

.booksSwiper{
 position: static;
 overflow: hidden;
 width: 100%;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__btn{
    width: 56px;
    height: 56px;
    background-color: #E5F5FC;
    border-radius: 30px;
  }

    &__btn:hover{
      background-color: $background6;
    }
  
    &__btn:hover path{
      stroke:white
    }

  &__prev{
    position: absolute;
    left: -60px;
    z-index: 5;
    top: calc(50% - 24px);
  }

  &__next{
    position: absolute;
    top: calc(50% - 24px);
    right: -60px;
    z-index: 5;
  }

}

.booksSwiper .slide{
  // width: calc(100% / 4 - 8px);
  padding: 20px;
  background:#EEF8FF;

  &__img{
    width: 100%;

    img{
      width: 90%;
      margin: 5% 5% 0 5% ;
      object-fit: cover;
    }
  }

  &__title{
    width: 85%;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    text-align: start;
  }

  &__link{
    align-items: center;
    column-gap: 15px;
    margin-top: 20px;

    span{
      color: $color1;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.ourCourses{
  padding-top: 20px;
  
  &__inner{
    width: 85%;
    padding-bottom: 30px;
  }

  &__title{
    text-align: center;
    font-size: 40px;
    line-height: 48px;
  }

  &__subtitle{
    text-align: center;
    width: 60%;
    font-size: 18px;
    line-height: 25px;
    margin-left: 20%;
    margin-top: 20px;
  }

  &__body{
    width: 100%;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;
  }
}

.ourCourses .card{
  margin-top: 10px;
  width: calc(100% / 4 - 8px );

  &__img{
    position: relative;
    height: 150px;
    width:100%;  

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
      z-index: 2;
    }
  }
  
  &__body{
    position: relative;
    padding: 10px 20px 15px 20px ;
    overflow: hidden;

    h4{
      font-size: 18px;
      line-height: 28px;
      width: 60%;
    }

    p{
      font-size: 15px;
      color: $textColor2;
    }

    a{
      column-gap: 10px;
      margin-top: 20px;
    }

    &::after{
      content: "";
      position: absolute;
      height: 393px;
      width: 393px;
      left: -380px;
      top: 128px;
      border-radius: 200px;
      background: #0057FF;
      opacity: 0.4;
      z-index: 2;
      top: 0;
      transition: 2s;
    }
  }

  &__body:hover ,
  &__body:hover a p,
  &__body:hover a path
  {
    display: block;
    color: white;
    stroke:white;
    transition: 2s;
  }

  &__body:hover{
    &::after {
      left: -110px;
      z-index: -1;
    }   
  }
}

.schedule{

  .container{
    background: url('../img/Frame\ 265.jpg');
  }
  &__inner{
    width: 85%;
    padding-bottom: 50px;
  }

  &__title{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
  }

  &__body{
    margin-top: 30px;
    column-gap: 20px;
  }
  
  &__btn{
    width: 100%;
    margin-top: 40px;

    button{
      column-gap: 15px;
      cursor: pointer;
    }

    button p{
      font-size: 18px;
      line-height: 22px;
    }
  }

  .card{
    width: calc(100% / 2 - 10px);
    padding: 10px 10px 10px 20px;
    margin-top: 20px;
    background-color: white;

    &__body{
      width: 60%;
    }

    &__date{
      margin-top: 10px;
      width: 60%;
    }

    &__text{
      margin-top: 10px;
      width: 80%;
    }

    &__link{
      width: 95%;
      margin-top: 20px;

      a{
        column-gap: 10px;
      }
    }

    &__img{
      width: 40%;
      height: 100%;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.author2{
  padding-top: 80px;

  &__inner{
    width: 85%;
  }
  
  &__row1{
    width: 100%; 
  }

  &__cards{
    column-gap: 20px;
  }

  .card{
    height: 348px;
    width: 592px;
    padding: 20px;
    background: url('../img/author2_card.png');

    &__img{
      width: 200px;
      height: 200px;
      flex-shrink: 0;
  
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text1{
      font-size:  20px;
      line-height: 32px;
      padding-left: 15px;
    }

    &__text2{
      margin-top: 20px
    }
  }

  .bigCard{
    margin-top: 20px;
    padding: 20px;
    background: url('../img/author2_card.png');

    &__img{
    width: 35%;
    height: 316px;
    flex-shrink: 0;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }

    &__body{
      padding:0 5% 0 3%;
    }

    &__title{
      padding: 35px 0;
      font-size: 28px;
      line-height: 36px;
    }

    &__text{
      font-size: 18px;
      line-height: 28px;
    }

    &__text2{
      width: 80%;
      font-size: 18px;
      line-height: 28px;
    }



  }


}

.speakers{

  &__inner{
    width: 85%;
  }

  &__title{
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    line-height: 50px;
  }

  &__subtitle{
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  &__body{
    position: relative;
    margin-top: 70px;

    .speakersSwiper {
      position:static;
      width: 90%;
      height: 100%;
      overflow: hidden;

      .slide{
        width: 200px;
        height: 300px;

        &__img{
          width: 200px;
          height: 200px;

          img{
            width: 100%;
            height: 100%;
            border: solid 6px white;
            border-radius: 100px;
            object-fit: cover;
          }
        }

        &__title{
          text-align: center;
          margin-top: 25px;
          font-size: 18px;
          line-height: 25px;
        }

        &__subtitle{
          text-align: center;
          color: $textColor4;
          margin-top: 10px;
          font-size: 15px;
          line-height: 18px;
        }
      }

      .slide:hover .slide__img img{
        border: $color1 6px solid;
      }
    }

    .swiper-slide {
      justify-content: center;
      text-align: center;
    
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    
  }

  &__btn{
    width: 100%;
    margin-top: 60px;

    button{
      column-gap: 15px;
      cursor: pointer;
    }

  }

}

.speakersSwiper{
  position: relative;

  &__btn{
    width: 72px;
    height: 72px;
    background: #E5F5FC;
    border-radius: 50px;
  }

  &__btn:hover{
    background-color: $background6;
  }

  &__btn:hover path{
    stroke:white
  }

  &__btns{
    position: absolute;
    width: 90%;
    top: calc(50% - 37px);
    z-index: 5;
  }

  &__btn-prev{
    position: absolute;
    left: -58px;
  }

  &__btn-next{
    position: absolute;
    right: -58px;
  }
}

.info{
  &__inner{
    width: 85%;
    padding-bottom: 80px;
  }

  .row1{
    padding-top: 80px;

    &__img{
      width: 365px;
      height: 365px;

      img{
        width: 100%;
        height: 100%;
        border-radius: 200px;
        object-fit: cover;
      }
    }

    &__body{
      width: calc(100% - 365px);
      height: 365px;
      padding: 0 10px 10px 45px;
    }

    &__title{
      width: 88%;
      font-size: 28px;
      line-height: 36px;
    }

    &__text{
      margin-top: 30px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__cards{
    width: 100%;
  }
  .swiperInfo{
    width: 100%;
    overflow: hidden;
  }
  
  .card{
    width:100%;
    height: max-content;
    padding: 25px 20px 20px 20px;
    margin-top: 50px;
    background: url('../img/author2_card.png');
    cursor: pointer;

    &__name{
      font-size: 16px;
      line-height: 16px;
      color: $textColor4;
    }

    &__title{
      margin-top: 5px;
      font-size: 24px;
      line-height: 32px;
    }

    &__text{
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
    }

  }
  .swiper-slide {
    justify-content: center;
    text-align: center;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.news{
  padding: 40px 0 0 0;
  &__container{
    background: rgba(244, 244, 244, 0.72);
  }
  &__inner{
    width: 85%;
  }

  &__title{
    h1{
      font-size: 40px;
      line-height: 50px;
    }

    a{
      font-size: 18px;
      line-height: 22px;
      color: $textColor2;
      border-bottom: solid $textColor2 2px;
    }
  }

  .card{
    width: 100%;
    height: 452px;
    padding: 15px;

    &__img{
      width: 535px;
      height: 420px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body{
      width: calc(100% - 535px);
      padding: 0 10px 0 55px;
    }

    &__title{
      margin-top: 50px;
      width: 80%;
      font-size: 24px;
      line-height: 35px;
    }

    &__text{
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
      color: $textColor1;
    }
  }
}
.news__slider{
  position: relative;

  .swiper2 {
    position: static;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

}

.swiper2{

  &__btn:hover{
    background-color: $background6;
  }

  &__btn:hover path{
    stroke:white
  }
}

.swiper2__btns{
  width: 100%;
}

.swiper2__btns .btn{
  &__prev{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    top: 30%;
    left: 0 - 50px;
    z-index: 5;
  }

  &__next{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    top: 30%;
    right: 0 - 50px;
    z-index: 5;
  }


}

.slide2{
  width: 386px;
  padding: 20px;

  &__title{
    font-size: 15px;
    line-height: 24px;
    align-items: center;
  }

  &__text{
    font-size: 15px;
    line-height: 22px;
    text-align: start;
    cursor: pointer;
  }

  &__text:hover{
    color: $textColor2;
  }
}

.lastPage{
padding-top: 80px;

  &__inner{
    width: 85%;
  }

  &__body{
    position: relative;
    height: 600px;
    width: 100%;

    .effect{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

  }

  &__img{
    right: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title{
    font-size: 40px;
    line-height: 48px;
  }

  &__subtitle{
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
  }

  &__btn{
    margin-top: 35px;
    column-gap: 15px;
    padding: 15px 77px;
    cursor: pointer;

    p{
      font-size: 18px;
      line-height: 21px;
    }
  }

}

.footer{
  background-color: white;
  padding-bottom: 30px;
  &__inner{
    width: 85%;
  }

  .box{

    &__address{
      width: 280px;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 20px;
    }

    &__addressLink{
      p{
        font-size: 15px;
        line-height: 18px;
        color: $textColor2;
      }
    }

    &__name{
      margin-top: 10px;
      text-align: center;
      color: $textColor4;
    }

    &__callNumber{
      p{
        font-size: 18px;
        line-height: 22px;
        span{
          color: $textColor2;
        }
      }
    }

    &__links{
      margin-top: 20px;
      column-gap: 15px;
      a{
        padding-right: 15px;
      }
    }

    &__dev{
      margin-top: 50px;
      column-gap: 5px;
    }

  }
}

// cantact page

.contact{
  &__inner{
    width: 85%;

    iframe{
      width: 100%;
      margin-top: 35px;
    }
  }

  &__title{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 35px; ;
  }
}

.contact .header{
  padding: 20px 0;
}

.contact .header .rightBox{

  &__number{
    a{
      column-gap: 5px;
      cursor: pointer;
      p{
        color: black;
      }

      span{
        color: $textColor2
      }
    }



  }
}

.cantact__body{
  height: calc(max-content + 100px);
}

.cantact__body .left{
  padding: 40px;
   &__logo{
     width: 142px;
     height: 36px;

     img{
       width: 100%;
       height: 100%;
       object-fit: cover;
     }
   }

   &__contact{
     margin: 50px 0;

     p{
       font-size: 18px;
       line-height: 22px;
       span{
         color: $textColor2;
       }
     }
   }

   &__address{
     padding-bottom: 20px;
     width: 283px;
   }

   &__link{
     font-size: 15px;
     line-height: 19px;
     color: $textColor2;
   }

   &__icons{
     margin-top: 20px;
   }

   &__icons:last-child{
    margin-left: 15px;
  }

}

.cantact__body .right{
  padding: 0 0 0 40px;
  background-color: $background3;

  &__title{
    margin-top: 70px;
    font-size: 35px;
    line-height: 45px;
  }

  &__subtitle{
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
  }

  &__btn{
    width: 60%;
    margin-top: 70px;
    column-gap: 10px;
    cursor: pointer;
  }

  &__img{
    width: 60%;

    img{
      width: 100%;
      height: 100%;
      object-fit:cover ;
    }
  }
}

// allCourses

.allCourses{

  &__inner{
    width: 85%;
    padding-bottom: 45px;
    display: block;
  }

  &__titleBox{
    padding: 0 35px;
    height: 146px;
    background-color: #F8F8F8;
    border-radius: 10px;

    span{
      color: $textColor2;
    }

    button{
      column-gap: 15px;
    }
  }

  &__main{
    width: 100%;
    padding: 30px;
    column-gap: 10px;
  }

  &__btn{
    margin-top: 45px;

    button{
      column-gap: 15px;
      background: #FFFFFF;
      box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
      border-radius: 50px;

      p{
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.allCourses .titleBox{

  &__left{
  h2{
    width: 770px;
    font-size: 40px;
    line-height: 50px;    
  }  

  p{
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    color: #7D7D7D;
  }
  }

  &__right{

    button{
      cursor: pointer;
      p{
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.allCourses .card{
  margin-top: 10px;
  width: calc(100% / 4 - 8px );

  &__img{
    position: relative;
    height: 150px;
    width:100%;  

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
      z-index: 2;
    }
  }
  
  &__body{
    position: relative;
    padding: 10px 20px 15px 20px ;
    overflow: hidden;

    h4{
      font-size: 18px;
      line-height: 28px;
      width: 60%;
    }

    p{
      font-size: 15px;
      color: $textColor2;
    }

    a{
      column-gap: 10px;
      margin-top: 20px;
    }

    &::after{
      content: "";
      position: absolute;
      height: 393px;
      width: 393px;
      left: -380px;
      top: 128px;
      border-radius: 200px;
      background: #0057FF;
      opacity: 0.4;
      z-index: 2;
      top: 0;
      transition: 2s;
    }
  }

  &__body:hover ,
  &__body:hover a p,
  &__body:hover a path
  {
    display: block;
    color: white;
    stroke:white;
    transition: 2s;
  }

  &__body:hover{
    &::after {
      left: -110px;
      z-index: -1;
    }   
  }
}

// cours page

.course{

  &__inner{
    width: 85%;
  }

  &__titleBox{
    padding: 0 35px;
    height: 146px;
    background-color: #F8F8F8;
    border-radius: 10px;

    span{
      color: $textColor2;
    }

    button{
      column-gap: 15px;
    }
  }

  &__left{
    width: 65%;
    height: max-content;
  }

  &__right{
    width: 35%;
    height: 30em;
    background: blue;
  }

  &__speakers{
    margin-top: 50px;
  }
}

.course .titleBox{
  width: 100%;

  &__left{
    h2{
      width: 770px;
      font-size: 40px;
      line-height: 50px;
    }

    p{
      font-size: 15px;
      line-height: 18px;
      margin-top: 10px;
      color: #7D7D7D;
    }
  }

  &__right{
      cursor: pointer;

      p{
        font-size: 18px;
        line-height: 22px;
      }
  }
}


.course .course__left .left{
  
  &__img1{
    width: 100%;
    height: 445px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__text1{
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
  }

  &__img2{
    width: 100%;
    height: 166px;
    margin-top: 30px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__text2{
    margin-top: 30px;
  }

  &__form{
    width: 100%;
    height: 410px;
    background-color: #E5F5FC;
    border-radius: 10px;
    margin-top: 50px;
  }

  &__btn{
    margin-top: 30px;

    a{
      column-gap: 10px;
    }
  }
}

.course__speakers .spekaerBlock{
  
  &__title{
    font-size: 40px;
    line-height: 50px;
  }

  &__subtitle{
    width: 80%;
    font-size: 18px;
    line-height: 25px;
  }

  &__body{
    margin-top: 40px;
    column-gap: 60px;
  }

  &__speaker-img{
    width: 200px;
    height: 200px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__speaker-name{
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    line-height: 25px;
  }

  &__speaker-speciality{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #545454;
  }
}

.course__left .left__form .form{
  
  &__title{
    width: 76%;
    margin-left:  12%;
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }

  &__subtitle{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  &__inputs{
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  &__input-name{
    padding: 15px 0 15px 30px;
    height: 54px;
    width: 40%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
  }

  &__input-number{
    padding: 15px 0 15px 30px;
    height: 54px;
    width: 40%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    padding: 15px 0 15px 30px;
    height: 54px;
    width: 40%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    border-left: solid 1px black  0.3;
  }
}



// allNews

.allNews{

  &__inner{
    width: 85%;
    padding: 30px 0 50px 0;
  }

  &__titleBox{
    padding: 0 35px;
    height: 146px;
    background-color: #F8F8F8;
    border-radius: 10px;

    span{
      color: $textColor2;
    }
  }

  &__main{
    margin-top: 30px;
    column-gap: 10px;
  }

  &__btn{
    margin-top: 30px;

    button{
      column-gap: 15px;
      background: #FFFFFF;
      box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
      border-radius: 50px;

      p{
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

}

.allNews .titleBox{
  width: 100%;

  &__left{
    h2{
      width: 770px;
      font-size: 40px;
      line-height: 50px;
    }

    p{
      font-size: 15px;
      line-height: 18px;
      margin-top: 10px;
      color: #7D7D7D;
    }
  }

  &__right{
      cursor: pointer;

      p{
        font-size: 18px;
        line-height: 22px;
      }
  }
}

.allNews .card{
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: calc(100% / 4 - 8px );

  &__img{
    position: relative;
    height: 150px;
    width:100%;  
    z-index: 1;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
      z-index: 2;
    }
  }
  
  &__body{
    // position: relative;
    padding: 10px 20px 15px 20px ;


    h4{
      font-size: 18px;
      line-height: 28px;
      width: 60%;
    }

    p{
      font-size: 15px;
      color: $textColor2;
    }

    a{
      column-gap: 5px;
    }

    &::after{
      content: "";
      position: absolute;
      height: 399px;
      width: 399px;
      left: -390px;
      border-radius: 200px;
      background: #0057FF;
      opacity: 0.4;
      z-index: 200;
      bottom: -393px;
      transition: 2s;
    }
  }

  &__date{
    color: #000000;
    opacity: 0.56;
  }

  &__body:hover ,
  &__body:hover p,
  &__body:hover a p,
  &__body:hover a path
  {
    display: block;
    color: white;
    stroke:white;
    transition: 2s;
  }

  &__body:hover{
    &::after {
      left: -38.38%;
      bottom: -102.6%;
      z-index: -1;
    }   
  }
}

// allSchedule

.allSchedule{

  &__inner{
    width: 85%;
    padding-bottom: 45px;
  }

  &__titleBox{
    padding: 0 35px;
    height: 146px;
    background-color: #F8F8F8;
    border-radius: 10px;

    span{
      color: $textColor2;
    }

    button{
      column-gap: 15px;
    }
  }

  &__main{
    margin-top: 30px;
    column-gap: 10px;
  }

  &__btn{
    margin-top: 30px;

    button{
      column-gap: 15px;
      background: #FFFFFF;
      box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
      border-radius: 50px;

      p{
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.allSchedule .titleBox{
  width: 100%;

  &__left{
    h2{
      width: 770px;
      font-size: 40px;
      line-height: 50px;
    }

    p{
      font-size: 15px;
      line-height: 18px;
      margin-top: 10px;
      color: #7D7D7D;
    }
  }

  &__right{
      cursor: pointer;

      p{
        font-size: 18px;
        line-height: 22px;
      }
  }
}

.allSchedule .card{
  width: calc(100% / 2 - 10px);
  padding: 10px 10px 10px 20px;
  margin-top: 20px;
  background-color: white;

  &__body{
    width: 60%;
  }

  &__date{
    margin-top: 10px;
    width: 60%;
  }

  &__text{
    margin-top: 10px;
    width: 80%;
  }

  &__link{
    width: 95%;
    margin-top: 20px;

    a{
      column-gap: 10px;
    }
  }

  &__img{
    width: 40%;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// modal

.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 900;
  background-color: rgba(0,0,0,0.2);
}


.modalContent{
  width: 50%;
  padding: 30px 25px;
  background: #EFF9FF;
  z-index: 10;

  &__btn-close{
    text-align: end;

    button{
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  &__title{
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }

  &__subtitle{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    padding-bottom: 40px;
  }


  &__inputName{
    padding: 15px 0 15px 30px;
    height: 54px;
    width: 40%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
  }

  &__inputNumber{
    padding: 15px 0 15px 30px;
    height: 54px;
    width: 40%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
  }

  &__btn{
    width: 100%;
    margin-top: 20px;
    button{
      column-gap: 10px;
      cursor: pointer;

      p{
        font-size: 18px;
        line-height: 22px;
      }
    }
  }


  &__btn-close2{
    margin-top: 20px;

    button{
      font-size: 18px;
      line-height: 22px;
      column-gap: 10px;
      border: none;
      background: none;
      cursor: pointer;
    }

  }

}

.activ{
  display: flex;
  justify-content: center;
}

.playerBtnEffect{
 transition: 2s;
 opacity: 0;
}

.activeBlock{
  display: inline-block;
}

@import './media.scss';