@font-face {
  font-family: "montserrat-semiBold";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-light";
  src: url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-regular";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-medium";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-semiBold";
  src: url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.mt__semiBold {
  font-family: "montserrat-semiBold";
  font-weight: 600;
}

.ir__light {
  font-family: "inter-light";
  font-weight: 300;
}
.ir__regular {
  font-family: "inter-regular";
  font-weight: 400;
}
.ir__medium {
  font-family: "inter-medium";
  font-weight: 500;
}
.ir__semiBold {
  font-family: "inter-semiBold";
  font-weight: 600;
}
.ir__bold {
  font-family: "inter-bold";
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
}
.btn__blue {
  background-color: #0057FF;
  color: white;
}
.btn__light {
  background-color: #FFFFFF;
}
.btn__text {
  font-size: 18px;
  line-height: 22px;
}

.swiper__btn {
  width: 72px;
  height: 72px;
  background-color: #EEF8FF;
  border-radius: 50px;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background: red;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jyContent-spaceBn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jyContent-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jyContent-spacrAd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fx-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alItem-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  scroll-behavior: smooth;
}

.header {
  padding: 10px 0;
}
.header__inner {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right {
  width: 100%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header__right .rightBox__main {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__right .rightBox__lang {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.header__right .rightBox__lang a {
  font-size: 15px;
  line-height: 18px;
}
.header__right .rightBox__contact {
  text-align: end;
}
.header__right .rightBox__contact p {
  font-size: 18px;
  line-height: 22px;
}
.header__right .rightBox__contact a {
  color: #0057FF;
  border-bottom: solid 1px #0057FF;
}
.header__right .rightBox__contact a p:last-child {
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar {
  margin-left: 40px;
}
.navbar__items {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.navbar__item a {
  color: #292D4A;
  font-size: 18px;
  line-height: 22px;
}

.banner {
  width: 100%;
  height: 615px;
}
.banner .swiper {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide {
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner__slide {
  width: 100%;
}
.banner__img {
  width: 100%;
  height: 615px;
  background-color: #0057FF;
}
.banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: red;
}
.banner__main {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background: linear-gradient(89.65deg, rgba(0, 0, 0, 0.48) 30.98%, rgba(0, 0, 0, 0) 107.92%);
}
.banner .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 1;
}
.banner .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #0057FF;
}

.banner__slide .body {
  display: block;
  width: 85%;
  height: 615px;
}
.banner__slide .body__date {
  margin-top: 120px;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.banner__slide .body__title {
  width: 624px;
  font-size: 55px;
  line-height: 67px;
  padding: 8px 0 20px 0;
  color: #FFFFFF;
}
.banner__slide .body__subtitle {
  width: 483px;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.banner__slide .body__btn {
  width: 180px;
  height: 55px;
  margin-top: 20px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.banner__slide .body__btn p {
  font-size: 18px;
  line-height: 22px;
}
.banner__slide .body__btn div {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.author__inner {
  width: 85%;
  padding-top: 80px;
}
.author__video {
  position: relative;
  width: 100%;
  height: 596px;
}
.author__video iframe {
  position: static;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author__videoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 104px;
  height: 104px;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.author__videoBtn img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
.author__videoCover {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.author__videoCover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author .body {
  padding: 25px 0 70px 0;
}
.author .body__title {
  width: 30%;
  font-size: 40px;
  line-height: 56px;
}
.author .body__text {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}

.author__swiper {
  position: relative;
}

.booksSwiper {
  position: static;
  overflow: hidden;
  width: 100%;
}
.booksSwiper .swiper {
  width: 100%;
  height: 100%;
}
.booksSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.booksSwiper__btn {
  width: 56px;
  height: 56px;
  background-color: #E5F5FC;
  border-radius: 30px;
}
.booksSwiper__btn:hover {
  background-color: #0057FF;
}
.booksSwiper__btn:hover path {
  stroke: white;
}
.booksSwiper__prev {
  position: absolute;
  left: -60px;
  z-index: 5;
  top: calc(50% - 24px);
}
.booksSwiper__next {
  position: absolute;
  top: calc(50% - 24px);
  right: -60px;
  z-index: 5;
}

.booksSwiper .slide {
  padding: 20px;
  background: #EEF8FF;
}
.booksSwiper .slide__img {
  width: 100%;
}
.booksSwiper .slide__img img {
  width: 90%;
  margin: 5% 5% 0 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booksSwiper .slide__title {
  width: 85%;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  text-align: start;
}
.booksSwiper .slide__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 20px;
}
.booksSwiper .slide__link span {
  color: #0057FF;
  font-size: 15px;
  line-height: 20px;
}

.ourCourses {
  padding-top: 20px;
}
.ourCourses__inner {
  width: 85%;
  padding-bottom: 30px;
}
.ourCourses__title {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
}
.ourCourses__subtitle {
  text-align: center;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
  margin-left: 20%;
  margin-top: 20px;
}
.ourCourses__body {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}

.ourCourses .card {
  margin-top: 10px;
  width: calc(100% / 4 - 8px );
}
.ourCourses .card__img {
  position: relative;
  height: 150px;
  width: 100%;
}
.ourCourses .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ourCourses .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 251, 253, 0)), to(#F9FBFD));
  background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
  z-index: 2;
}
.ourCourses .card__body {
  position: relative;
  padding: 10px 20px 15px 20px;
  overflow: hidden;
}
.ourCourses .card__body h4 {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}
.ourCourses .card__body p {
  font-size: 15px;
  color: #0057FF;
}
.ourCourses .card__body a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}
.ourCourses .card__body::after {
  content: "";
  position: absolute;
  height: 393px;
  width: 393px;
  left: -380px;
  top: 128px;
  border-radius: 200px;
  background: #0057FF;
  opacity: 0.4;
  z-index: 2;
  top: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
.ourCourses .card__body:hover, .ourCourses .card__body:hover a p, .ourCourses .card__body:hover a path {
  display: block;
  color: white;
  stroke: white;
  -webkit-transition: 2s;
  transition: 2s;
}
.ourCourses .card__body:hover::after {
  left: -110px;
  z-index: -1;
}

.schedule .container {
  background: url("../img/Frame 265.jpg");
}
.schedule__inner {
  width: 85%;
  padding-bottom: 50px;
}
.schedule__title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
.schedule__body {
  margin-top: 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.schedule__btn {
  width: 100%;
  margin-top: 40px;
}
.schedule__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  cursor: pointer;
}
.schedule__btn button p {
  font-size: 18px;
  line-height: 22px;
}
.schedule .card {
  width: calc(100% / 2 - 10px);
  padding: 10px 10px 10px 20px;
  margin-top: 20px;
  background-color: white;
}
.schedule .card__body {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.schedule .card__date {
  margin-top: 10px;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
}
.schedule .card__text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  width: 85%;
}
.schedule .card__link {
  width: 95%;
  margin-top: 20px;
  padding-bottom: 10px;
}
.schedule .card__link a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 15px;
  line-height: 18px;
}
.schedule .card__link a p {
  color: #0057FF;
}
.schedule .card__img {
  width: 40%;
  height: 100%;
}
.schedule .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author2 {
  padding-top: 80px;
}
.author2__inner {
  width: 85%;
}
.author2__row1 {
  width: 100%;
}
.author2__cards {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.author2 .card {
  height: 348px;
  padding: 20px;
  width: calc(100% / 2);
  background: url("../img/author2_card.png");
  background-size: 100% 100%;
  background-repeat: space;
}
.author2 .card__img {
  width: 200px;
  height: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.author2 .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author2 .card__text1 {
  font-size: 20px;
  line-height: 32px;
  padding-left: 15px;
  color: #0B2048;
}
.author2 .card__text2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  color: #0B2048;
}
.author2 .bigCard {
  margin-top: 20px;
  padding: 20px;
  background: url("../img/bg__bigCard.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.author2 .bigCard__img {
  width: 35%;
  height: 316px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.author2 .bigCard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author2 .bigCard__body {
  padding: 0 5% 0 3%;
}
.author2 .bigCard__title {
  padding: 35px 0;
  font-size: 28px;
  line-height: 36px;
}
.author2 .bigCard__text {
  font-size: 18px;
  line-height: 28px;
}
.author2 .bigCard__text2 {
  width: 80%;
  font-size: 18px;
  line-height: 28px;
}

.speakers__inner {
  width: 85%;
}
.speakers__title {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  line-height: 50px;
}
.speakers__subtitle {
  width: 60%;
  margin-left: 20%;
  margin-top: 15px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.speakers__body {
  position: relative;
  margin-top: 70px;
}
.speakers__body .speakersSwiper {
  position: static;
  width: 90%;
  height: 100%;
  overflow: hidden;
}
.speakers__body .speakersSwiper .slide {
  width: 200px;
  height: 300px;
}
.speakers__body .speakersSwiper .slide__img {
  width: 200px;
  height: 200px;
}
.speakers__body .speakersSwiper .slide__img img {
  width: 100%;
  height: 100%;
  border: solid 6px white;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.speakers__body .speakersSwiper .slide__title {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  line-height: 25px;
}
.speakers__body .speakersSwiper .slide__subtitle {
  text-align: center;
  color: #545454;
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
}
.speakers__body .speakersSwiper .slide:hover .slide__img img {
  border: #0057FF 6px solid;
}
.speakers__body .swiper-slide {
  justify-content: center;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.speakers__btn {
  width: 100%;
  margin-top: 60px;
}
.speakers__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  cursor: pointer;
}
.speakers__btn p {
  font-size: 18px;
  line-height: 22px;
}

.speakersSwiper {
  position: relative;
}
.speakersSwiper__btn {
  width: 72px;
  height: 72px;
  background: #E5F5FC;
  border-radius: 50px;
}
.speakersSwiper__btn:hover {
  background-color: #0057FF;
}
.speakersSwiper__btn:hover path {
  stroke: white;
}
.speakersSwiper__btns {
  position: absolute;
  width: 90%;
  top: calc(50% - 37px);
  z-index: 5;
}
.speakersSwiper__btn-prev {
  position: absolute;
  left: -58px;
}
.speakersSwiper__btn-next {
  position: absolute;
  right: -58px;
}

.info__inner {
  width: 85%;
  padding-bottom: 80px;
}
.info .row1 {
  padding-top: 80px;
}
.info .row1__img {
  width: 365px;
  height: 365px;
}
.info .row1__img img {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info .row1__body {
  width: calc(100% - 365px);
  height: 365px;
  padding: 0 10px 10px 45px;
}
.info .row1__title {
  width: 88%;
  font-size: 28px;
  line-height: 36px;
}
.info .row1__text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 28px;
}
.info__cards {
  width: 100%;
}
.info .swiperInfo {
  width: 100%;
  overflow: hidden;
}
.info .card {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 25px 20px 20px 20px;
  margin-top: 50px;
  background: url("../img/author2_card.png");
  cursor: pointer;
}
.info .card__name {
  font-size: 16px;
  line-height: 16px;
  color: #545454;
}
.info .card__title {
  margin-top: 5px;
  font-size: 24px;
  line-height: 32px;
}
.info .card__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}
.info .swiper-slide {
  justify-content: center;
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news {
  padding: 40px 0 45px 0;
}
.news__inner {
  width: 85%;
}
.news__title {
  margin-top: 35px;
}
.news__title h1 {
  font-size: 40px;
  line-height: 50px;
}
.news__title a {
  font-size: 18px;
  line-height: 22px;
  color: #0057FF;
  border-bottom: solid #0057FF 2px;
}
.news .card {
  width: 100%;
  height: 452px;
  padding: 15px;
}
.news .card__img {
  width: 535px;
  height: 420px;
}
.news .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .card__body {
  width: calc(100% - 535px);
  padding: 0 10px 0 55px;
}
.news .card__title {
  margin-top: 50px;
  width: 80%;
  font-size: 24px;
  line-height: 35px;
}
.news .card__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #292D4A;
}

.news .container {
  background: rgba(244, 244, 244, 0.72);
  padding-bottom: 45px;
}

.news__slider {
  position: relative;
}
.news__slider .swiper2 {
  position: static;
  width: 100%;
  overflow: hidden;
}
.news__slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper2__btn:hover {
  background-color: #0057FF;
}
.swiper2__btn:hover path {
  stroke: white;
}

.swiper2__btns {
  width: 100%;
}

.swiper2__btns .btn__prev {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  top: 30%;
  left: -50px;
  z-index: 5;
}
.swiper2__btns .btn__next {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  top: 30%;
  right: -50px;
  z-index: 5;
}

.slide2 {
  width: 386px;
  padding: 20px;
}
.slide2__title {
  font-size: 15px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide2__text {
  font-size: 15px;
  line-height: 22px;
  text-align: start;
  cursor: pointer;
}
.slide2__text:hover {
  color: #0057FF;
}

.lastPage__inner {
  width: 85%;
  height: 500px;
  position: relative;
}
.lastPage__body {
  width: 100%;
}
.lastPage__body .effect {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  z-index: 5;
}
.lastPage__logo {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.lastPage__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lastPage__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.lastPage__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lastPage__title {
  width: 100%;
  font-size: 40px;
  line-height: 48px;
}
.lastPage__subtitle {
  width: 90%;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
}
.lastPage__btn {
  margin-top: 35px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 15px 77px;
  cursor: pointer;
}
.lastPage__btn p {
  font-size: 18px;
  line-height: 21px;
}

.lastPage__body .body__left {
  width: 50%;
  position: absolute;
  z-index: 6;
  bottom: 100px;
  left: 0;
}
.lastPage__body .body__right {
  width: 50%;
}

.footer {
  background-color: white;
  padding-bottom: 30px;
}
.footer__inner {
  width: 85%;
}
.footer .box__address {
  width: 280px;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}
.footer .box__addressLink p {
  font-size: 15px;
  line-height: 18px;
  color: #0057FF;
}
.footer .box__name {
  margin-top: 10px;
  text-align: center;
  color: #545454;
}
.footer .box__callNumber p {
  font-size: 18px;
  line-height: 22px;
}
.footer .box__callNumber p span {
  color: #0057FF;
}
.footer .box__links {
  margin-top: 20px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.footer .box__links a {
  padding-right: 15px;
}
.footer .box__dev {
  margin-top: 50px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.contact__inner {
  width: 85%;
}
.contact__inner iframe {
  width: 100%;
  margin-top: 35px;
}
.contact__title {
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 35px;
}

.contact .header {
  padding: 20px 0;
}

.contact .header .rightBox__number a {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  cursor: pointer;
}
.contact .header .rightBox__number a p {
  color: black;
}
.contact .header .rightBox__number a span {
  color: #0057FF;
}

.cantact__body {
  height: calc(-webkit-max-content + 100px);
  height: calc(-moz-max-content + 100px);
  height: calc(max-content + 100px);
}

.cantact__body .left {
  padding: 40px;
}
.cantact__body .left__logo {
  width: 142px;
  height: 36px;
}
.cantact__body .left__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cantact__body .left__contact {
  margin: 50px 0;
}
.cantact__body .left__contact p {
  font-size: 18px;
  line-height: 22px;
}
.cantact__body .left__contact p span {
  color: #0057FF;
}
.cantact__body .left__address {
  padding-bottom: 20px;
  width: 283px;
}
.cantact__body .left__link {
  font-size: 15px;
  line-height: 19px;
  color: #0057FF;
}
.cantact__body .left__icons {
  margin-top: 20px;
}
.cantact__body .left__icons:last-child {
  margin-left: 15px;
}

.cantact__body .right {
  padding: 0 0 0 40px;
  background-color: #EEF8FF;
}
.cantact__body .right__title {
  margin-top: 70px;
  font-size: 35px;
  line-height: 45px;
}
.cantact__body .right__subtitle {
  margin-top: 10px;
  font-size: 15px;
  line-height: 20px;
}
.cantact__body .right__btn {
  width: 60%;
  margin-top: 70px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}
.cantact__body .right__img {
  width: 60%;
}
.cantact__body .right__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.allCourses__inner {
  width: 85%;
  padding-bottom: 45px;
  display: block;
}
.allCourses__titleBox {
  padding: 0 35px;
  height: 146px;
  background-color: #F8F8F8;
  border-radius: 10px;
}
.allCourses__titleBox span {
  color: #0057FF;
}
.allCourses__titleBox button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.allCourses__main {
  width: 100%;
  padding: 30px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.allCourses__btn {
  margin-top: 45px;
}
.allCourses__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
          box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
  border-radius: 50px;
}
.allCourses__btn button p {
  font-size: 18px;
  line-height: 22px;
}

.allCourses .titleBox__left h2 {
  width: 770px;
  font-size: 40px;
  line-height: 50px;
}
.allCourses .titleBox__left p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #7D7D7D;
}
.allCourses .titleBox__right button {
  cursor: pointer;
}
.allCourses .titleBox__right button p {
  font-size: 18px;
  line-height: 22px;
}

.allCourses .card {
  margin-top: 10px;
  width: calc(100% / 4 - 8px );
}
.allCourses .card__img {
  position: relative;
  height: 150px;
  width: 100%;
}
.allCourses .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.allCourses .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 251, 253, 0)), to(#F9FBFD));
  background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
  z-index: 2;
}
.allCourses .card__body {
  position: relative;
  padding: 10px 20px 15px 20px;
  overflow: hidden;
}
.allCourses .card__body h4 {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}
.allCourses .card__body p {
  font-size: 15px;
  color: #0057FF;
}
.allCourses .card__body a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}
.allCourses .card__body::after {
  content: "";
  position: absolute;
  height: 393px;
  width: 393px;
  left: -380px;
  top: 128px;
  border-radius: 200px;
  background: #0057FF;
  opacity: 0.4;
  z-index: 2;
  top: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
.allCourses .card__body:hover, .allCourses .card__body:hover a p, .allCourses .card__body:hover a path {
  display: block;
  color: white;
  stroke: white;
  -webkit-transition: 2s;
  transition: 2s;
}
.allCourses .card__body:hover::after {
  left: -110px;
  z-index: -1;
}

.course {
  padding-bottom: 45px;
}
.course__inner {
  width: 85%;
}
.course__titleBox {
  padding: 0 35px;
  height: 146px;
  background-color: #F8F8F8;
  border-radius: 10px;
}
.course__titleBox span {
  color: #0057FF;
}
.course__titleBox button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.course__left {
  width: 65%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 50px;
}
.course__right {
  width: 35%;
  padding: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.course__speakers {
  margin-top: 50px;
}

.course .titleBox {
  width: 100%;
}
.course .titleBox__left h2 {
  width: 770px;
  font-size: 40px;
  line-height: 50px;
}
.course .titleBox__left p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #7D7D7D;
}
.course .titleBox__right {
  cursor: pointer;
}
.course .titleBox__right p {
  font-size: 18px;
  line-height: 22px;
}

.course .right .card {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  background-color: white;
}
.course .right .card__body {
  width: 100%;
}
.course .right .card__date {
  margin-top: 10px;
  width: 60%;
}
.course .right .card__date p:first-child {
  color: #0057FF;
}
.course .right .card__text {
  margin-top: 10px;
  width: 80%;
}
.course .right .card__link {
  width: 95%;
  margin-top: 20px;
}
.course .right .card__link a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.course .right .card__link a p {
  color: #0057FF;
}
.course .right .card__img {
  width: 40%;
  height: 100%;
}
.course .right .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.course .course__left .left__img1 {
  width: 100%;
  height: 445px;
}
.course .course__left .left__img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.course .course__left .left__text1 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 25px;
}
.course .course__left .left__img2 {
  width: 100%;
  height: 166px;
  margin-top: 30px;
}
.course .course__left .left__img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.course .course__left .left__text2 {
  margin-top: 30px;
}
.course .course__left .left__form {
  width: 100%;
  height: 410px;
  background-color: #E5F5FC;
  border-radius: 10px;
  margin-top: 50px;
}
.course .course__left .left__btn {
  margin-top: 30px;
}
.course .course__left .left__btn a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.course .course__right .right__title {
  font-size: 24px;
  line-height: 30px;
}

.course__speakers .spekaerBlock__title {
  font-size: 40px;
  line-height: 50px;
}
.course__speakers .spekaerBlock__subtitle {
  width: 80%;
  font-size: 18px;
  line-height: 25px;
}
.course__speakers .spekaerBlock__body {
  margin-top: 40px;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.course__speakers .spekaerBlock__speaker-img {
  width: 200px;
  height: 200px;
}
.course__speakers .spekaerBlock__speaker-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.course__speakers .spekaerBlock__speaker-name {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  line-height: 25px;
}
.course__speakers .spekaerBlock__speaker-speciality {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #545454;
}

.course__left .left__form .form__title {
  width: 76%;
  margin-left: 12%;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}
.course__left .left__form .form__subtitle {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
.course__left .left__form .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
.course__left .left__form .form__input-name {
  padding: 15px 0 15px 30px;
  height: 54px;
  width: 40%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
}
.course__left .left__form .form__input-number {
  padding: 15px 0 15px 30px;
  height: 54px;
  width: 40%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  padding: 15px 0 15px 30px;
  height: 54px;
  width: 40%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  border-left: solid 1px black 0.3;
}

.course__swiper {
  position: relative;
  width: 100%;
}

.course__swiper .courseSwiper {
  position: static;
  overflow: hidden;
  width: 100%;
}
.course__swiper .courseSwiper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.course__swiper .courseSwiper__btn {
  width: 56px;
  height: 56px;
  background: #E5F5FC;
  border-radius: 30px;
}
.course__swiper .courseSwiper__btn:hover {
  background-color: #0057FF;
}
.course__swiper .courseSwiper__btn:hover path {
  stroke: white;
}
.course__swiper .courseSwiper__btn-prev {
  position: absolute;
  left: -60px;
  z-index: 5;
  top: calc(50% - 24px);
}
.course__swiper .courseSwiper__btn-next {
  position: absolute;
  top: calc(50% - 24px);
  right: -60px;
  z-index: 5;
}

.course__swiper .card {
  margin-top: 10px;
}
.course__swiper .card__img {
  position: relative;
  height: 150px;
  width: 100%;
}
.course__swiper .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.course__swiper .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 251, 253, 0)), to(#F9FBFD));
  background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
  z-index: 2;
}
.course__swiper .card__body {
  position: relative;
  padding: 10px 20px 15px 20px;
  overflow: hidden;
}
.course__swiper .card__body h4 {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}
.course__swiper .card__body p {
  font-size: 15px;
  color: #0057FF;
}
.course__swiper .card__body a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}
.course__swiper .card__body::after {
  content: "";
  position: absolute;
  height: 393px;
  width: 393px;
  left: -380px;
  top: 128px;
  border-radius: 200px;
  background: #0057FF;
  opacity: 0.4;
  z-index: 2;
  top: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
.course__swiper .card__body:hover, .course__swiper .card__body:hover a p, .course__swiper .card__body:hover a path {
  display: block;
  color: white;
  stroke: white;
  -webkit-transition: 2s;
  transition: 2s;
}
.course__swiper .card__body:hover::after {
  left: -110px;
  z-index: -1;
}

.allNews__inner {
  width: 85%;
  padding: 30px 0 50px 0;
}
.allNews__titleBox {
  padding: 0 35px;
  height: 146px;
  background-color: #F8F8F8;
  border-radius: 10px;
}
.allNews__titleBox span {
  color: #0057FF;
}
.allNews__main {
  margin-top: 30px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.allNews__btn {
  margin-top: 30px;
}
.allNews__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
          box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
  border-radius: 50px;
}
.allNews__btn button p {
  font-size: 18px;
  line-height: 22px;
}

.allNews .titleBox {
  width: 100%;
}
.allNews .titleBox__left h2 {
  width: 770px;
  font-size: 40px;
  line-height: 50px;
}
.allNews .titleBox__left p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #7D7D7D;
}
.allNews .titleBox__right {
  cursor: pointer;
}
.allNews .titleBox__right p {
  font-size: 18px;
  line-height: 22px;
}

.allNews .card {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: calc(100% / 4 - 8px );
}
.allNews .card__img {
  position: relative;
  height: 150px;
  width: 100%;
  z-index: 1;
}
.allNews .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.allNews .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 251, 253, 0)), to(#F9FBFD));
  background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
  z-index: 2;
}
.allNews .card__body {
  padding: 10px 20px 15px 20px;
}
.allNews .card__body h4 {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}
.allNews .card__body p {
  font-size: 15px;
  color: #0057FF;
}
.allNews .card__body a {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.allNews .card__body::after {
  content: "";
  position: absolute;
  height: 399px;
  width: 399px;
  left: -390px;
  border-radius: 200px;
  background: #0057FF;
  opacity: 0.4;
  z-index: 200;
  bottom: -393px;
  -webkit-transition: 2s;
  transition: 2s;
}
.allNews .card__date {
  color: #000000;
  opacity: 0.56;
}
.allNews .card__body:hover, .allNews .card__body:hover p, .allNews .card__body:hover a p, .allNews .card__body:hover a path {
  display: block;
  color: white;
  stroke: white;
  -webkit-transition: 2s;
  transition: 2s;
}
.allNews .card__body:hover::after {
  left: -38.38%;
  bottom: -102.6%;
  z-index: -1;
}

.allSchedule__inner {
  width: 85%;
  padding-bottom: 45px;
}
.allSchedule__titleBox {
  padding: 0 35px;
  height: 146px;
  background-color: #F8F8F8;
  border-radius: 10px;
}
.allSchedule__titleBox span {
  color: #0057FF;
}
.allSchedule__titleBox button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.allSchedule__main {
  margin-top: 30px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.allSchedule__btn {
  margin-top: 30px;
}
.allSchedule__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
          box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
  border-radius: 50px;
}
.allSchedule__btn button p {
  font-size: 18px;
  line-height: 22px;
}

.allSchedule .titleBox {
  width: 100%;
}
.allSchedule .titleBox__left h2 {
  width: 770px;
  font-size: 40px;
  line-height: 50px;
}
.allSchedule .titleBox__left p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #7D7D7D;
}
.allSchedule .titleBox__right {
  cursor: pointer;
}
.allSchedule .titleBox__right p {
  font-size: 18px;
  line-height: 22px;
}

.allSchedule .card {
  width: calc(100% / 2 - 10px);
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}
.allSchedule .card__body {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.allSchedule .card__date {
  margin-top: 10px;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
}
.allSchedule .card__text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  width: 85%;
}
.allSchedule .card__link {
  width: 95%;
  margin-top: 20px;
}
.allSchedule .card__link a {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 15px;
  line-height: 18px;
}
.allSchedule .card__link a p {
  color: #0057FF;
}
.allSchedule .card__img {
  width: 40%;
  height: 100%;
}
.allSchedule .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.newsPage {
  padding-bottom: 45px;
}
.newsPage__inner {
  width: 85%;
}
.newsPage__titleBox {
  padding: 0 35px;
  height: 146px;
  background-color: #F8F8F8;
  border-radius: 10px;
}
.newsPage__titleBox span {
  color: #0057FF;
}
.newsPage__titleBox button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.newsPage__body {
  margin-top: 30px;
}
.newsPage__left {
  width: calc(100% - 304px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 50px;
}
.newsPage__right {
  padding: 0 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.newsPage__btn {
  width: 100%;
  margin-top: 30px;
}
.newsPage__btn button {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
          box-shadow: 0px 8px 20px rgba(74, 156, 107, 0.05);
  border-radius: 50px;
}
.newsPage__btn button p {
  font-size: 18px;
  line-height: 22px;
}

.newsPage .titleBox {
  width: 100%;
}
.newsPage .titleBox__left h2 {
  width: 770px;
  font-size: 40px;
  line-height: 50px;
}
.newsPage .titleBox__left p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 10px;
  color: #7D7D7D;
}
.newsPage .titleBox__right {
  cursor: pointer;
}
.newsPage .titleBox__right p {
  font-size: 18px;
  line-height: 22px;
}

.newsPage .newsPage__left .left__img1 {
  width: 100%;
  height: 445px;
}
.newsPage .newsPage__left .left__img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.newsPage .newsPage__left .left__text1 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 25px;
}

.newsPage .newsPage__right .right__title {
  font-size: 24px;
  line-height: 30px;
}

.newsPage .card {
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
}
.newsPage .card__title {
  color: #292D4A;
}
.newsPage .card__img {
  position: relative;
  height: 150px;
  width: 100%;
  z-index: 1;
}
.newsPage .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newsPage .card__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 251, 253, 0)), to(#F9FBFD));
  background: linear-gradient(180deg, rgba(249, 251, 253, 0) 0%, #F9FBFD 100%);
  z-index: 2;
}
.newsPage .card__body {
  padding: 10px 20px 15px 20px;
}
.newsPage .card__body h4 {
  font-size: 18px;
  line-height: 28px;
  width: 60%;
}
.newsPage .card__body a {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.newsPage .card__main {
  margin-top: 15px;
}
.newsPage .card__main a p {
  font-size: 15px;
  line-height: 18px;
  color: #0057FF;
}
.newsPage .card__date {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  opacity: 0.56;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
  width: 50%;
  padding: 30px 25px;
  background: #EFF9FF;
  z-index: 10;
}
.modalContent__btn-close {
  text-align: end;
}
.modalContent__btn-close button {
  border: none;
  background: none;
  cursor: pointer;
}
.modalContent__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}
.modalContent__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  padding-bottom: 40px;
}
.modalContent__inputName {
  padding: 15px 0 15px 30px;
  height: 54px;
  width: 40%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
}
.modalContent__inputNumber {
  padding: 15px 0 15px 30px;
  height: 54px;
  width: 40%;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
}
.modalContent__btn {
  width: 100%;
  margin-top: 20px;
}
.modalContent__btn button {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}
.modalContent__btn button p {
  font-size: 18px;
  line-height: 22px;
}
.modalContent__btn-close2 {
  margin-top: 20px;
}
.modalContent__btn-close2 button {
  font-size: 18px;
  line-height: 22px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opacityEffect {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0;
  z-index: -10;
}

@media only screen and (max-width: 1325px) {
  .author2 .card__text1 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .author2 .card__text1 {
    font-size: 17px;
    line-height: 25px;
  }

  .info .row1__title {
    font-size: 22px;
    line-height: 28px;
  }

  .info .row1__text {
    margin-top: 20px;
    font-size: 17px;
    line-height: 22px;
  }

  .news .card__img {
    width: 40%;
  }

  .news .card__body {
    width: 60%;
  }

  .news .card__title {
    margin-top: 0;
    font-size: 22px;
    line-height: 28px;
  }

  .news .card__text {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .author2__cards {
    display: block;
  }

  .author2 .card {
    width: 100%;
    margin-top: 20px;
  }
  .author2 .card__row1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .author2 .card__text1 {
    font-size: 20px;
    line-height: 32px;
  }

  .schedule__body {
    display: block;
  }

  .schedule__body .card {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ourCourses .card {
    width: calc(100% / 3 - 12px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info .row1__img {
    margin-left: calc(50% - 182px);
  }

  .footer__boxs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__boxs .box__center {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .header__inner {
    display: block;
  }
  .header__left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__right {
    display: none;
    padding-top: 30px;
    -webkit-transition: 2s;
    transition: 2s;
  }

  .navbar {
    margin-left: 0;
  }
  .navbar__items {
    display: block;
  }

  .burger {
    display: inline-block;
  }

  .info__row1 .row1 {
    display: block;
  }
  .info__row1 .row1__body {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .info__row1 .row1__title {
    width: 80%;
    margin: 20px 0 0 10%;
    text-align: center;
  }

  .news .card {
    display: block;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .news .card__body {
    width: 100%;
    padding: 0;
  }
  .news .card__title {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .news .card__img {
    width: 100%;
  }

  .speakers__body .swiper__btn-prev, .speakers__body .swiper__btn-next {
    display: none;
  }

  .lastPage__inner {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .lastPage__body {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .lastPage__logo {
    display: none;
  }
  .lastPage__img {
    position: static;
    width: 100%;
    height: 100%;
  }
  .lastPage__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .lastPage .effect {
    z-index: 8;
  }

  .lastPage .body {
    width: 100%;
    height: 520px;
  }
  .lastPage .body__left {
    position: absolute;
    width: 70%;
    z-index: 10;
    bottom: 42px;
  }
  .lastPage .body__right {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 7;
  }

  .modalContent {
    width: 80%;
  }
}
@media only screen and (max-width: 675px) {
  .banner {
    height: 470px;
  }
  .banner__img {
    height: 470px;
  }

  .banner__slide .body__title {
    font-size: 40px;
    line-height: 48px;
    padding: 10px 0;
  }

  .booksSwiper__prev {
    left: 0;
  }
  .booksSwiper__next {
    right: 0;
  }

  .booksSwiper .slide__title {
    margin-top: 22px;
    font-size: 32px;
    line-height: 42px;
  }
  .booksSwiper .slide__link span {
    font-size: 22px;
    line-height: 28px;
  }
  .booksSwiper .slide__link svg {
    width: 28px;
    height: 28px;
  }

  .author__inner {
    margin-top: 0;
  }

  .lastPage__img {
    width: 100%;
  }
  .lastPage__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 640px) {
  .author__video {
    height: 350px;
  }

  .author__videoCover {
    height: 100%;
  }
  .author__videoCover img {
    height: 100%;
  }

  .author .body {
    display: block;
    width: 100%;
    padding: 25px 0 40px 0;
  }
  .author .body__title {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  .author .body__text {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
  }

  .booksSwiper .slide__title {
    width: 100%;
    font-size: 22px;
    line-height: 28px;
  }

  .ourCourses__title {
    font-size: 30px;
    line-height: 38px;
  }
  .ourCourses__subtitle {
    width: 70%;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15%;
    margin-top: 15px;
  }

  .ourCourses .card {
    width: calc(100% / 2 - 18px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .author2 .card {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .author2 .card__row1 {
    display: block;
  }
  .author2 .card__img {
    margin-left: calc(50% - 100px);
  }
  .author2 .card__text1 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .author2 .card__text2 {
    text-align: center;
    font-size: 15px;
  }

  .author2 .bigCard {
    display: block;
  }
  .author2 .bigCard__img {
    width: 100%;
    height: 200px;
  }
  .author2 .bigCard__title {
    padding: 15px 0;
    font-size: 22px;
    line-height: 28px;
  }
  .author2 .bigCard__text, .author2 .bigCard__text2 {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }

  .speakers__title {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    line-height: 28px;
  }
  .speakers__subtitle {
    width: 80%;
    margin-left: 10%;
    font-size: 16px;
    line-height: 18px;
  }
  .speakers__btn {
    width: 100%;
    height: 42px;
    margin-top: 20px;
  }

  .speakersSwiper__btn {
    width: 42px;
    height: 42px;
  }

  .speakersSwiper__btn-next {
    right: -20px;
  }

  .speakersSwiper__btn-prev {
    left: -20px;
  }

  .info .row1__img {
    margin-left: calc(50% - 182px);
  }

  .info__row1 .row1__title {
    width: 90%;
    margin: 20px 0 0 5%;
    font-size: 18px;
    line-height: 24px;
  }
  .info__row1 .row1__subtitle {
    font-size: 16px;
  }

  .news__title h1 {
    font-size: 30px;
  }
  .news__title a {
    font-size: 14px;
    line-height: 18px;
  }

  .news .card__img {
    height: 250px;
  }

  .swiper2__btns {
    display: none;
  }

  .lastPage__body {
    height: 500px;
  }
  .lastPage__ {
    height: 500px;
  }
  .lastPage__title {
    font-size: 24px;
    line-height: 32px;
  }
  .lastPage__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .lastPage__btn {
    width: 40%;
    padding: 15px 0;
  }

  footer {
    padding: 30px 0;
  }

  .modalContent__btn-close svg {
    width: 18px;
    height: 18px;
  }
  .modalContent__title {
    font-size: 28px;
    line-height: 34px;
  }
  .modalContent__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .modalContent__inputs {
    display: block;
  }
  .modalContent__inputName, .modalContent__inputNumber {
    width: 80%;
    margin-left: 10%;
    border-radius: 100px;
  }
  .modalContent__inputNumber {
    margin-top: 10px;
  }
  .modalContent .modalContent__btn {
    margin-top: 10px;
  }
  .modalContent .modalContent__btn button {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    padding: 10px 20px;
  }
  .modalContent .modalContent__btn button p {
    font-size: 10px;
    line-height: 18px;
  }
  .modalContent .modalContent__btn button svg {
    width: 18px;
    height: 18px;
  }

  .lastPage .body__left {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .header__inner {
    display: block;
  }
  .header__left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__right {
    display: none;
    padding-top: 30px;
    -webkit-transition: 2s;
    transition: 2s;
  }

  .navbar__items li ~ li {
    margin-top: 10px;
  }

  .header__right .rightBox__main {
    display: block;
  }
  .header__right .rightBox__lang {
    margin-top: 20px;
  }
  .header__right .rightBox__contact {
    text-align: start;
    margin-top: 20px;
  }

  .footer__boxs {
    display: block;
  }

  .footer__boxs .box__left {
    width: 100%;
  }
  .footer__boxs .box__center {
    display: block;
    padding: 20px 0;
  }
  .footer__boxs .box__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .lastPage .footer .box__address {
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .lastPage .footer .box__addressLink {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: end;
  }
  .lastPage .footer .box__links {
    margin-top: 0;
  }

  .banner__slide .body__title {
    width: 80%;
    font-size: 30px;
    line-height: 38px;
  }
  .banner__slide .body__subtitle {
    width: 400px;
    font-size: 16px;
  }

  .modalContent__title {
    font-size: 24px;
    line-height: 28px;
  }
  .modalContent__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    padding-bottom: 20px;
  }

  .lastPage__title {
    width: 70%;
  }
  .lastPage__subtitle {
    width: 50%;
  }
  .lastPage__btn {
    margin-left: 30%;
  }
}
@media only screen and (max-width: 420px) {
  .banner__slide .body__date {
    margin-top: 60px;
  }
  .banner__slide .body__title {
    width: 80%;
    font-size: 25px;
    line-height: 38px;
  }
  .banner__slide .body__subtitle {
    width: 80%;
    font-size: 14px;
  }
  .banner__slide .body__btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ourCourses__body {
    display: block;
  }

  .ourCourses .card {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .schedule__body .card {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule__body .card__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .schedule__body .card__body {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .schedule__body .card__text {
    font-size: 14px;
  }
  .schedule__body .card__date, .schedule__body .card__link, .schedule__body .card__text {
    width: 100%;
  }

  .author__inner {
    padding-top: 20px;
  }

  .author .body__title {
    font-size: 18px;
    line-height: 24px;
  }

  .author .body__text {
    font-size: 14px;
    line-height: 18px;
  }

  .author__video {
    height: 280px;
  }

  .author__videoBtn {
    width: 50px;
    height: 50px;
  }

  .booksSwiper .slide__title {
    font-size: 28px;
    line-height: 38px;
  }

  .ourCourses__title {
    font-size: 22px;
    line-height: 24px;
  }
  .ourCourses__subtitle {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
  }

  .schedule__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 30px;
  }

  .author2 {
    padding-top: 0;
  }

  .author2 .card__text1 {
    text-align: start;
    font-size: 14px;
    line-height: 22px;
  }
  .author2 .card__text2 {
    font-size: 13px;
  }

  .author2 .bigCard__text, .author2 .bigCard__text2 {
    font-size: 13px;
    line-height: 22px;
  }
  .author2 .bigCard__title {
    font-size: 18px;
    line-height: 22px;
  }

  .speakers__subtitle {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 13px;
    line-height: 18px;
  }
  .speakers__body {
    margin-top: 30px;
  }
  .speakers__btn button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info__inner {
    padding-bottom: 0;
  }

  .info .row1 {
    padding-top: 30px;
  }
  .info .row1__body {
    padding: 10px;
  }
  .info .row1__img {
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
  }
  .info .row1__title {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
  }
  .info .row1__text {
    font-size: 13px;
    line-height: 16px;
    margin: 10px 0 0 0;
  }

  .news__title {
    display: block;
  }
  .news__title h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .news__title a {
    font-size: 13px;
    line-height: 18px;
  }

  .news__card .card__img {
    height: 200px;
  }
  .news__card .card_title {
    font-size: 18px;
    line-height: 28px;
  }

  footer {
    padding: 30px 0;
  }

  .lastPage__title {
    font-size: 18px;
    line-height: 22px;
  }
  .lastPage__subtitle {
    width: 70%;
    margin-top: 5px;
  }
  .lastPage__img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
  }
  .lastPage__img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .lastPage__btn {
    width: 60%;
    margin-top: 5px;
    margin-left: 20%;
  }
  .lastPage__btn p {
    font-size: 13px;
    line-height: 18px;
  }
  .lastPage__btn svg {
    width: 18px;
    height: 18px;
  }

  .lastPage .body {
    height: 300px;
  }
  .lastPage .body__left {
    bottom: 0;
  }

  .modalContent__inputName, .modalContent__inputNumber {
    width: 100%;
    margin-left: 0%;
    border-radius: 100px;
  }
  .modalContent__inputNumber {
    margin-top: 10px;
  }
}
.activeBlock {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (max-width: 320px) {
  .banner__slide .body__date {
    font-size: 14px;
  }
  .banner__slide .body__title {
    width: 80%;
    font-size: 20px;
    line-height: 22px;
  }
  .banner__slide .body__subtitle {
    width: 260px;
    font-size: 14px;
    line-height: 20px;
  }
  .banner__slide .body__btnContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .lastPage__body {
    height: 260px;
  }

  .booksSwiper .slide__title {
    font-size: 22px;
    line-height: 22px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */